@import 'normalize.css';

html {
    height: 100%;
}

body {
    height: inherit;
    background: #222;
    color: silver;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

#container canvas {
    width: 100%;
}
